// USE BUILT-IN SCSS FUNCTIONS
@use "sass:map";
// IMPORT BULMA VARIABLES
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";

$dark: (
  "bg": $grey-dark,
  "link": $primary,
  "link-hov": $cyan
);

$light: (
  "bg": $light,
  "link": $link,
  "link-hov": $link-hover,
);

@mixin dark-mode {
  background: map-get($map: $dark, $key: "bg");

  div#root {
    p {
      color: map-get($map: $light, $key: "bg");
    }

    a {
      color: map-get($map: $dark, $key: "link");

      &:hover {
        color: map-get($map: $dark, $key: "link-hov");
      }
    }

    input {
      background: map-get($map: $dark, $key: "bg");
      color: map-get($map: $light, $key: "bg");
    }

    select {
      background: map-get($map: $dark, $key: "bg");
      color: map-get($map: $light, $key: "bg");

      option {
        background: map-get($map: $dark, $key: "bg");
        color: map-get($map: $light, $key: "bg");
      }
    }

    label {
      color: map-get($map: $light, $key: "bg");
    }

    form {
      background: map-get($map: $dark, $key: "bg");
    }

    section {
      background: map-get($map: $dark, $key: "bg");
      color: map-get($map: $light, $key: "bg");

      p {
        color: map-get($map: $light, $key: "bg");
      }
    }
  }
}

@mixin light-mode {
  background: map-get($map: $light, $key: "bg");

  div#root {
    p {
      color: map-get($map: $dark, $key: "bg");
    }

    a {
      color: map-get($map: $light, $key: "link");

      &:hover {
        color: map-get($map: $light, $key: "link-hov");
      }
    }

    input {
      background: map-get($map: $light, $key: "bg");
      color: map-get($map: $dark, $key: "bg");
    }
      
    select {
      background: map-get($map: $light, $key: "bg");
      color: map-get($map: $dark, $key: "bg");

      option {
        background: map-get($map: $light, $key: "bg");
        color: map-get($map: $dark, $key: "bg");
      }
    }

    label {
      color: map-get($map: $dark, $key: "bg");
    }

    form {
      background: map-get($map: $light, $key: "bg");
    }

    section {
      background: map-get($map: $light, $key: "bg");
      color: map-get($map: $dark, $key: "bg");

      p {
        color: map-get($map: $dark, $key: "bg");
      }
    }
  }
}