.grid-template {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  &__header {
    display: flex;
    justify-content: center;

    & > :first-child {
      margin-right: 15px;
    }
  }

  &__loading {
    margin-top: 45px;
    width: 75%;
  }

  &__table {
    margin-top: 45px;
    width: 75%;

    thead > tr {
      text-transform: capitalize;
    }
  }

  &__no-data-label {
    margin-top: 150px;
  }
}
